<div>
  <button id="new-form"><span>+ </span>Add product</button>
</div>
<div class="products">
  <% @products.each do |product| %>
    <ul>
      <li>
        <%= link_to product.name, product %>
      </li>
    </ul>
  <% end %>
</div>
<%= render partial: 'new' %>
