<div class="center review">
  <div class="content">
    <p>
      <%= review.content %>
    </p>
  </div>
  <div class="rating">
    <p><%= review.rating %> star<%= review.rating > 1 ? "s" : "" %></p>
  </div>
  <div class="author">
    <p>Author: <span><%= review.user.email %></span></p>
  </div>
</div>
